body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#link {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #555;
}

#link-email {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #979797;
}

#link-email:hover {
  color: #3498db;
}

#dark-link {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #555;
  padding: 6px 0;
}

#dark-link:hover {
  color: #3498db;
}

#link:hover {
  color: #3498db;
}

#white-link {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#white-footer-link {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#white-link:hover,
#white-footer-link:hover {
  color: #3498db;
}

#image {
  width: 100%;
  height: 100%;
}

#arrow-off {
  cursor: pointer;
}

#logo {
  text-decoration: none;
}

#telehealth_link {
  display: flex;
  text-decoration: none;
  color: #3498db;
  font-size: 16px;
  padding-top: 10px;
  transition: .3s;
}

#telehealth_link:hover {
  color: #555555;
}

@media (max-width: 1400px) {
  #img_Logo {
    width: 550px;
    height: 350px;
  }
}

@media (max-width: 1300px) {
  #img_Logo {
    width: 450px;
    height: 250px;
  }
}

@media (max-width: 769px) {
  #link {
    display: none;
  }

  #white-link {
    display: none;
  }

  #arrow-off {
    display: none;
  }
}

@media (max-width: 661px) {
  #img {
    width: 440px;
    height: 300px;
  }

  #img_Logo {
    width: 450px;
    height: 250px;
  }
}

@media (max-width: 476px) {
  #img {
    width: 300px;
    height: 200px;
  }

  #img_Logo {
    width: 300px;
    height: 200px;
  }
}
